body {
    background-color: #131212
}

header {
    background-color: #2a2a2b;
    margin: -2%;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: azure;
    text-decoration: underline;
}

#hhh {
    text-align: center;
    list-style: none;
    flex: none;
}

.hh {
    font-size: 2em;
    font-weight: 400;
    text-decoration: none;
    border: solid;
    border-color: #c2bfbf;
    border-style: double;
    padding: 0.5px;
    color: #c2bfbf;
}

.hh:hover {
    background-color: #686767;
}

#hhh li {
    display: inline;
    margin: 2em;
}

#jjj {
    color: azure;
    text-align: center;
    margin: 5%;
}

picture img {
    width: 10%;
    box-shadow: #c2bfbf;
    border-radius: 7%;
    border: solid;
    border-color: #f7eeee;
}

footer {
    text-align: right;
    color: #d3c0c0;
}

div img{
    display: inline;
    width: 3%;
    height: 3%;
}
.lol {
    width: 10%;
    height: 10%;
}